


body{
    /*margin:auto;*/
    /*padding:15px;*/
    /*background-color: #F0F0F0;*/
}

/*
    structure de la page
*/

header {
    padding:0px;

    display:block;
}

header h1{
    display: inline-block;
    color: white;
    font-size: 1em;
    background-color: black;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}


div#boardZone{

}


div#gameZone{
    background-color:white;
}

/* board cells */

table#boardGame{
    background-color: white;
    -moz-box-shadow: 4px 4px 12px #aaa;
    -webkit-box-shadow: 4px 4px 12px #aaa;
    box-shadow: 4px 4px 12px #555;
}

td.cell {
    border:1px solid #c0c0c0;
    width: 20px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    background-color: #
}

/* cells with walls */
td.cell.wall-top {
    border-top: 2px solid black;
}

td.cell.wall-bottom {
    border-bottom: 2px solid black;
}

td.cell.wall-left {
    border-left: 2px solid black;
}

td.cell.wall-right {
    border-right: 2px solid black;
}

/*robots */

div.robot:before {
    width: 15px;
    height: 15px;
    margin: auto;
    content: "\267F";
}


div.symbol {
    border-radius: 50%;
    height: 60%;
    width: 60%;
    margin: auto;
    vertical-align: middle;
    line-height:150%;
    font-size: large;
}

/*color items (goals)*/

div.blue {
    background-color: blue;
}

div.green {
    background-color: #90ee90;
}

div.red {
    background-color: #f08080;
}

div.yellow {
    background-color: #fafad2;
}


/* symbols for goals */
div.star:before{
    content: "\272E";
}
div.moon:before{
    content: "\263D";
}
div.planet:before{
    content: "\2641";
}
div.gear:before{
    content: "\2699";
}
div.sun:before{
    content: "\2742";
}

div.selected{
    border: 2px solid red;
}
