
body{
    padding-top: 47px; /*pour ne pas etre sous la nav*/
    background-color: #f5f5f5;
}

/*
    structure de la page
*/

header{
    background-color: white;
}

section#content{
    background-color: white;
    height: 100%;
    padding-top:1em;
}

/*product name in header */
.navbar a.brand{
    font-size: 2em;
}

footer{
    margin-top: 3em;
    background-color:#f5f5f5;
    color: #DDD;
    text-align: center;
    height: 40px;
    padding-top: 60px;
    margin: -50px auto 0 auto;
    margin-bottom: 0px;
}

div#boardZone{
}


div#gameZone{
    background-color: white;
}

div#currentGameZone{
    text-align: center;
}

div#howToPlay{
    font-size: 1.3em;
}

div#howToPlay table{
    margin:0.2em auto
}

h2{
    margin-bottom: 1em;
}

/* board cells */

table#boardGame{
    background-color: white;
    -moz-box-shadow: 4px 4px 12px #aaa;
    -webkit-box-shadow: 4px 4px 12px #aaa;
    box-shadow: 4px 4px 12px #555;

    margin:0px auto;
}

td.cell {
    border:1px solid #c0c0c0;
    width: 30px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    background-color: white;
}

/* cells with walls */
td.cell.wall-top {
    border-top: 2px solid black;
}

td.cell.wall-bottom {
    border-bottom: 2px solid black;
}

td.cell.wall-left {
    border-left: 2px solid black;
}

td.cell.wall-right {
    border-right: 2px solid black;
}

div.cell {
    height: 100%;
    width: 100%;
    position: relative;
}

/*robots */

div.robot {
    width: 90%;
    height: 90%;
    margin: auto;
    display: block;
    font-size: x-large;
    z-index: 20;
    position: absolute;
}

div.robot:before {
    content: "\267F";
}


div.symbol {
    border-radius: 50%;
    height: 90%;
    width: 90%;
    margin: auto;
    vertical-align: middle;
    font-size: x-large;
    display: block;
    z-index: 10;
    position: absolute;
}

/*color items (goals)*/

.blue {
    background-color: blue;
}

.green {
    background-color: #90ee90;
}

.red {
    background-color: #f08080;
}

.yellow {
    background-color: #fafad2;
}


/* symbols for goals */
.star:before{
    content: "\272E";
}
.moon:before{
    content: "\263D";
}
.planet:before{
    content: "\2641";
}
.gear:before{
    content: "\2699";
}
.sun:before{
    content: "\2742";
}

div.selected{
    border: 2px solid red;
}
