
body{
    padding-top: 40px; /*pour ne pas etre sous la nav*/
    background-color: #f5f5f5;
}

/*
    structure de la page
*/


section#content{
    background-color: white;
    height: 100%;
    padding-top:1em;
}

footer{
    margin-top: 3em;
    background-color:#f5f5f5;
    color: #DDD;
    text-align: center;
    height: 40px;
    padding-top: 60px;
    margin: -50px auto 0 auto;
    margin-bottom: 0px;
}

div#boardZone{
}


div#gameZone{
    background-color: white;
}

div#currentGameZone{
    text-align: center;
}

div#howToPlay{
    font-size: 1.5em;
}

div#howToPlay table{
    margin:0.2em auto
}

table#key-mapping{
    vertical-align: middle;
    padding:5px;
}

kbd{
    padding:6px;
    margin: 2px 1px;
}


h2{
    margin-bottom: 1em;
}

/* board cells */

table#boardGame{
    background-color: white;
    -moz-box-shadow: 4px 4px 12px #aaa;
    -webkit-box-shadow: 4px 4px 12px #aaa;
    box-shadow: 4px 4px 12px #555;

    margin:0px auto;
}

td.cell {
    border:1px solid #FFFFFF;
    width: 30px;
    height: 30px;
    background-color: whiteSmoke;
}

/* cells with walls */
td.cell.wall-top {
    border-top: 3px solid #a0a0a0;
}

td.cell.wall-bottom {
    border-bottom: 3px solid #a0a0a0;
}

td.cell.wall-left {
    border-left: 3px solid #a0a0a0;
}

td.cell.wall-right {
    border-right: 3px solid #a0a0a0;
}

div.cell {
    height: 30px;
    width: 30px;
    position: relative;
    padding:1px;
}

/*robots */

div.robot{

    display: block;
    width: 26px;
    height: 26px;
    vertical-align: text-top;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #C4C4C4;

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.05);

    cursor:pointer;
    margin: 1px;

}

/* survol du robot */
.robot:hover{
    border-color:rgba(82, 168, 236, 0.8);
    -webkit-box-shadow: 0 1px 1px #555, 0 0 1px #555;
    -moz-box-shadow: 0 1px 1px #555, 0 0 1px #555;
    box-shadow: 0 1px 1px #555, 0 0 1px #555;
    background-color: #cbcbcb;
}

/* robot selectionné*/
.robot.selected{
    border-color:rgba(82, 168, 236, 0.8);
    -webkit-box-shadow: 0 1px 1px #555 inset, 0 0 1px #555;
    -moz-box-shadow: 0 1px 1px #555 inset, 0 0 1px #555;
    box-shadow: 0 1px 1px #555 inset, 0 0 1px #555;
    background-color: #ACACAC;
}

div.symbol, span.symbol {
    display: block;
    width: 29px;
    height: 29px;
    vertical-align: text-top;
    background-position: center center;
    background-repeat: no-repeat;
}

div.symbol{

}

.robot.blue{
    background-image: url("../images/symbols/blue_skull.png");
}
.robot.green{
    background-image: url("../images/symbols/green_skull.png");
}
.robot.red{
    background-image: url("../images/symbols/red_skull.png");
}
.robot.yellow{
    background-image: url("../images/symbols/yellow_skull.png");
}

span.symbol {
    display: inline-block;
}

/* symbols for goals */

.symbol.gear.blue{
    background-image: url("../images/symbols/blue_gear.png");
}
.symbol.star.blue{
    background-image: url("../images/symbols/blue_star.png");
}
.symbol.planet.blue{
    background-image: url("../images/symbols/blue_planet.png");
}
.symbol.moon.blue{
    background-image: url("../images/symbols/blue_moon.png");
}

.symbol.gear.green{
    background-image: url("../images/symbols/green_gear.png");
}
.symbol.star.green{
    background-image: url("../images/symbols/green_star.png");
}
.symbol.planet.green{
    background-image: url("../images/symbols/green_planet.png");
}
.symbol.moon.green{
    background-image: url("../images/symbols/green_moon.png");
}

.symbol.gear.yellow{
    background-image: url("../images/symbols/yellow_gear.png");
}
.symbol.star.yellow{
    background-image: url("../images/symbols/yellow_star.png");
}
.symbol.planet.yellow{
    background-image: url("../images/symbols/yellow_planet.png");
}
.symbol.moon.yellow{
    background-image: url("../images/symbols/yellow_moon.png");
}


.symbol.gear.red{
    background-image: url("../images/symbols/red_gear.png");
}
.symbol.star.red{
    background-image: url("../images/symbols/red_star.png");
}
.symbol.planet.red{
    background-image: url("../images/symbols/red_planet.png");
}
.symbol.moon.red{
    background-image: url("../images/symbols/red_moon.png");
}




