body {
    padding-top: 40px; /*pour ne pas etre sous la nav*/
    background-color: #DBDBDB;
}


/* loading indicator - shows up only when body has class loading */
div#loadingIndicator{
    position:absolute;
    /* top left corner */
    right:0px;
    top:0px;
    display:none;
    height:32px;
    width:32px;
    background:url('/assets/images/ajax-loader.gif');
    z-index:2000;
    margin:5px;

}

body.loading div#loadingIndicator{
    display:block;
}

/*
    structure de la page
*/

section#content {
    background-color: white;
    height: 100%;
    padding-top: 1em;
    min-height: 200px;
}

footer {
    margin-top: 3em;
    background-color: #DBDBDB;/*must be same color as body*/
    color: #999999;
    text-align: center;
    min-height: 40px;
    padding-top: 60px;
    margin: -50px auto 0 auto;
    margin-bottom: 0px;
    font-size: 12px;
}

footer a{
    color:#636363;
}
footer a:hover{
    color:#0088CC;
}

span#copyright {
    bottom: 0;
    color: white;
    display: block;
    margin: 3px 5px;
    position: fixed;
    right: 0;
    text-shadow: 1px 1px 3px black;
}

/* picture on home page */
img#homePicture{
            box-shadow: 4px 4px 12px #555;
       -moz-box-shadow: 4px 4px 12px #aaa;
    -webkit-box-shadow: 4px 4px 12px #aaa;
    margin:0px auto;
}
span#homePictureLegend{
    display:block;
    text-align:left;
    font-size:10px;
    color: #999999;
}

span#homePictureLegend a{
    color:#636363;
}

span#homePictureLegend a:hover{
    color:#0088CC;
}

div#boardZone {
}

div#gameZone {
    background-color: white;
}

div#currentGameZone {
    text-align: center;
}

div#howToPlay {
    font-size: 1.5em;
}

div#howToPlay table {
    margin: 0.2em
}

table#keyboard-mapping {
    vertical-align: middle;
    padding: 5px;
}

td#keyboard-mapping {
    vertical-align: middle;
    padding: 5px;
}

table#arrow-keys {
    display: none;
    visibility: hidden;
}

kbd {
    padding: 6px;
    margin: 2px 1px;
    /*make them look clickable*/
    cursor:pointer;
}

h2 {
    margin-bottom: 1em;
}

/* board cells */

table#boardGame {
    background-color: white;
    -moz-box-shadow: 4px 4px 12px #aaa;
    -webkit-box-shadow: 4px 4px 12px #aaa;
    box-shadow: 4px 4px 12px #555;

    margin: 0px auto;
}

td.cell {
    border: 1px solid #FFFFFF;
    width: 30px;
    height: 30px;
    background-color: whiteSmoke;
}

/* cells with walls */
td.cell.wall-top {
    border-top: 3px solid #a0a0a0;
}

td.cell.wall-bottom {
    border-bottom: 3px solid #a0a0a0;
}

td.cell.wall-left {
    border-left: 3px solid #a0a0a0;
}

td.cell.wall-right {
    border-right: 3px solid #a0a0a0;
}

div.cell {
    height: 30px;
    width: 30px;
    position: relative;
    padding: 1px;
}

/*robots */

div.robot {

    display: block;
    width: 26px;
    height: 26px;
    vertical-align: text-top;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #C4C4C4;

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.05);

    cursor: pointer;
    margin: 1px;

}

/* survol du robot */
.robot:hover {
    border-color: rgba(82, 168, 236, 0.8);
    -webkit-box-shadow: 0 1px 1px #555, 0 0 1px #555;
    -moz-box-shadow: 0 1px 1px #555, 0 0 1px #555;
    box-shadow: 0 1px 1px #555, 0 0 1px #555;
    background-color: #cbcbcb;
}

/* robot selectionné*/
.robot.selected {
    border-color: rgba(82, 168, 236, 0.8);
    -webkit-box-shadow: 0 1px 1px #555 inset, 0 0 1px #555;
    -moz-box-shadow: 0 1px 1px #555 inset, 0 0 1px #555;
    box-shadow: 0 1px 1px #555 inset, 0 0 1px #555;
    background-color: #ACACAC;
}

div.symbol, span.symbol {
    display: block;
    width: 29px;
    height: 29px;
    vertical-align: text-top;
    background-position: center center;
    background-repeat: no-repeat;
}

div.symbol.transparent {
    opacity: 0.2;;
}

.robot.Blue {
    background-image: url("../images/symbols/blue_skull.png");
}

.robot.Green {
    background-image: url("../images/symbols/green_skull.png");
}

.robot.Red {
    background-image: url("../images/symbols/red_skull.png");
}

.robot.Yellow {
    background-image: url("../images/symbols/yellow_skull.png");
}

span.symbol {
    display: inline-block;
}

/* symbols for goals */

.symbol.Gear.Blue {
    background-image: url("../images/symbols/blue_gear.png");
}

.symbol.Star.Blue {
    background-image: url("../images/symbols/blue_star.png");
}

.symbol.Planet.Blue {
    background-image: url("../images/symbols/blue_planet.png");
}

.symbol.Moon.Blue {
    background-image: url("../images/symbols/blue_moon.png");
}

.symbol.Gear.Green {
    background-image: url("../images/symbols/green_gear.png");
}

.symbol.Star.Green {
    background-image: url("../images/symbols/green_star.png");
}

.symbol.Planet.Green {
    background-image: url("../images/symbols/green_planet.png");
}

.symbol.Moon.Green {
    background-image: url("../images/symbols/green_moon.png");
}

.symbol.Gear.Yellow {
    background-image: url("../images/symbols/yellow_gear.png");
}

.symbol.Star.Yellow {
    background-image: url("../images/symbols/yellow_star.png");
}

.symbol.Planet.Yellow {
    background-image: url("../images/symbols/yellow_planet.png");
}

.symbol.Moon.Yellow {
    background-image: url("../images/symbols/yellow_moon.png");
}

.symbol.Gear.Red {
    background-image: url("../images/symbols/red_gear.png");
}

.symbol.Star.Red {
    background-image: url("../images/symbols/red_star.png");
}

.symbol.Planet.Red {
    background-image: url("../images/symbols/red_planet.png");
}

.symbol.Moon.Red {
    background-image: url("../images/symbols/red_moon.png");
}

/*

  NAV BAR

*/

a#logoutLink, a#loginLink {
    text-align: right;
}

a#userName {
    font-weight: bold;
    text-align: center;
}

/* special container
resized via js to always take as much space as possible */
div#headerExtraContent {
    display: inline-block;
}

ul#headerInfo {
    width: 100%;
}

a#currentScore {
    width: 1.7em;/*fix the width of the score to make the calculation of width easier*/
    font-size:2em;
    color:white;
    text-align: center;
    padding-right: 0px;
    padding-left: 0px;
    overflow: hidden; /* if the score is bigger than the container, don't break the layout !*/
}

/*symbol is 29px high and navbar is 40px high ... center vertically manually*/
a#headerGoal {
    padding: 0px;
    padding-top: 4px;
    margin-right: 0px;
}

a#headerGoal span.symbol {
    float: right; /*put it out of the float to avoid destroying the nav*/
    cursor:pointer;
}

a#headerRobot {
    padding: 0px;
    padding-top: 4px;
    margin-right: 0px;
}

a#headerRobot div.robot {
    background-color: transparent;
}

a#headerArrow {
    margin: 0px;
    padding-right: 3px;
    padding-left: 3px;
}

#timeProgress a {
    padding-top: 10px;
    padding-bottom: 10px;
}

#timeProgress .progress {
    margin-bottom: 0px;
    margin-top: 0px;
    width: 100%;
    height: 19px;
}

#timeProgress .progress .bar {
    height: 19px;
}


