@(game: Game, player: Player)

@import models._

<div class="row">
    <div class="span8" id="boardZone">
        @renderBoard(game)
    </div>
    <div class="span4" id="gameZone">
        <form class="form-inline" >
            <div id="currentGameZone" class="well">
                <h3 id="nicknameDisplay">@player.name</h3>
                @gameGoal(game.goal)

                <h3><div id="moves"/></h3>

                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
        <hr/>

        <h3>Leaderboard ?</h3>
        @scores(game)

        <h3>How to play</h3>
        <div id="howToPlay">
            <table>
                <tr>
                    <td>
                        <table id="keyboard-keys" class="hidden-tablet">
                            <tr>
                                <td></td>
                                <td><kbd>I</kbd></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><kbd>J</kbd></td>
                                <td><kbd>K</kbd></td>
                                <td><kbd>L</kbd></td>
                            </tr>
                        </table>
                    </td>
                    <td id="key-mapping" class="hidden-tablet">=</td>
                    <td>
                        <table id="arrow-keys">
                            <tr>
                                <td></td>
                                <td><kbd id="key-up">&uarr;</kbd></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><kbd id="key-left">&larr;</kbd></td>
                                <td><kbd id="key-down">&darr;</kbd></td>
                                <td><kbd id="key-right">&rarr;</kbd></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <p class="hidden-tablet">
                <kbd>Q</kbd>/<kbd>S</kbd> : select previous/next robot
            </p>
        </div>

    </div>

    <div id="winModal" class="modal hide fade">
        <div class="modal-header">
            <h3>Solution found !</h3>
        </div>
        <div class="modal-body" align="center">
            <img src="http://img.bollywoodsargam.com/albumsbolly/Emma_Watson/Emma_Watson_BollywoodSargam_hot_762997.jpg" alt="Wouhou!" height="50%" width="50%">
        </div>
        <div class="modal-footer">
            <a id="retry" class="btn btn-success" data-dismiss="modal" >Play Again !</a>
        </div>
    </div>
</div>
