@(game: Game)

@import models._

@main("Robotagram Rocks !!!") {
<div class="row">
    <div class="span8" id="boardZone">
        <h2>Let's play !</h2>
        <table id="boardGame">
            @for(x:Int <- 0 until game.board.cells.length) {
            <tr>
                @for(y:Int <- 0 until game.board.cells(x).length) {
                    @if(game.robots(0).posX == x && game.robots(0).posY == y){
                        @cell(game.board.cells(x)(y), game.robots(0), game.goal)
                    } else {
                        @if(game.robots(1).posX == x && game.robots(1).posY == y){
                            @cell(game.board.cells(x)(y), game.robots(1), game.goal)
                        } else {
                            @if(game.robots(2).posX == x && game.robots(2).posY == y){
                                @cell(game.board.cells(x)(y), game.robots(2), game.goal)
                            } else {
                                @if(game.robots(3).posX == x && game.robots(3).posY == y){
                                    @cell(game.board.cells(x)(y), game.robots(3), game.goal)
                                } else {
                                    @cell(game.board.cells(x)(y), null, game.goal)
                                }
                            }
                        }
                    }
                }
            </tr>
            }
        </table>
    </div>
    <div class="span4" id="gameZone">
        <h3>Current Game</h3>
        @gameGoal(game.goal)

        <h3>Submit</h3>

        on met des trucs ici ?

        <form class="well form-inline">
            <input type="text" class="input-small" placeholder="moves?">
            <button type="submit" class="btn btn-large btn-primary">Submit</button>
        </form>
        <hr/>

        <h3>Leaderboard ?</h3>
        <table class="table">
            <thead>
            <tr>
                <th>user</th>
                <th>score</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>jkhlkjh</th>
                <td>tototo</td>
            </tr>
            <tr>
                <th>jkhlkjh</th>
                <td>tototo</td>
            </tr>
            </tbody>
        </table>

        <div id="winModal" class="modal hide fade">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">&times;</button>
                <h3>Solution found !</h3>
            </div>
            <div class="modal-body">
                <img src="http://img.bollywoodsargam.com/albumsbolly/Emma_Watson/Emma_Watson_BollywoodSargam_hot_762997.jpg" alt="Wouhou!">
            </div>
            <div class="modal-footer">
                <a href="#" class="btn" data-dismiss="modal" >Close</a>
                <a href="#" class="btn btn-primary">Save changes</a>
            </div>
        </div>
    </div>
</div>
}
