@main("Robotagram Rocks !!!") {
    <div id="nickModal" class="modal hide fade">
        <div class="modal-header">
            <h3>Wanna play Robotagram ?  </h3><img src='@routes.Assets.at("images/favicon.ico")' alt="robotagram icon">
        </div>
        <span class="modal-body" align="center">
            Then please enter your <input type="text"class="input input-medium" placeholder="nickname">
        </span>
        <div class="modal-footer">
            <a id="play" class="btn btn-success" data-dismiss="modal" >Play !</a>
        </div>
    </div>

}
