@(c: Cell, robot: Option[Robot] = None, objective: Option[Goal] = None, col: Int, row: Int)

@import models._

@renderWalls(cell: Cell) = {@if(cell.wallTop){wall-top} @if(cell.wallLeft){wall-left} @if(cell.wallBottom){wall-bottom} @if(cell.wallRight){wall-right}}

@renderColor(color: Color.Value) = {@color.toString}

@renderGoalColor() = {@renderColor(c.goal.color)}

@renderRobotColor() = {@renderColor(robot.get.color)}

@renderIdForRobotObjective() = @{if(robot.get.color == objective.get.color) {"id='robotForObjective'"} else {}}

@renderSymbol() = {@c.goal.symbol.toString}

@renderIdForGoalObjective(goal:Goal, objective:Option[Goal]) = @{
        objective.filter{o => o.color == goal.color && o.symbol == goal.symbol}
            .map{_ =>  "id='objective'"}
            .getOrElse("")
}

<td class="cell @renderWalls(c)" data-row="@row" data-column="@col" >
<div class="cell" >

    @if(c.goal != null && robot.isEmpty) {<div @renderIdForGoalObjective(c.goal, objective) class="symbol @renderGoalColor() @renderSymbol()"/>}
    @if(!robot.isEmpty) {<div @renderIdForRobotObjective() class="robot @renderRobotColor()"/>}
</div>
</td>
