@()(implicit flash: Flash, request: RequestHeader, lang: Lang)@* implicits are needed ! *@

<li class="dropdown">
    <a id="userLanguage" href="#" class="dropdown-toggle" data-toggle="dropdown" title="@Messages("common.user.language.select")">
        <img id="flag" src="@routes.Assets.at("images/flags/" + lang.code + ".png")" alt="@lang.code">
    </a>
    <ul id="languageList" class="dropdown-menu">
        @for(lang2 <- controllers.CookieLang.AVAILABLE_LANGS if lang2 != lang.code) {
        <li class="languageFlag">
            @helper.form(routes.Localise.changeLocale) {
                <input type="hidden" name="locale" value="@lang2">
                <input type="image" src="@routes.Assets.at("images/flags/" + lang2 + ".png")" title="@Messages("common.user.language.switchTo", lang2)" alt="@lang2">
            }
        </li>
        }
    </ul>
</li>