@(board: Board, goal: Option[Goal], robots: scala.collection.immutable.Map[Color.Color, Robot])
    @import models._
    @import scala.collection.immutable.Map


    @getRobot(x: Int, y: Int) = @{
        robots.values.find(r => r.posX == x && r.posY == y)
    }


<table id="boardGame">
    @for(x:Int <- 0 until board.cells.length) {
    <tr>
        @for(y:Int <- 0 until board.cells(x).length) {
            @shared.cell(board.cells(x)(y), getRobot(x, y), goal, x, y)
        }
    </tr>
    }
</table>
