@(board: Board, goal: Option[Goal], robots: scala.collection.immutable.Map[Color.Color, Robot])
    @import models._
    @import scala.collection.immutable.Map


    @getRobot(col: Int, row: Int) = @{
        robots.values.find(r => r.col == col && r.row == row)
    }


<table id="boardGame">
    @for(row:Int <- 0 until board.height) {
    <tr>
        @for(col:Int <- 0 until board.width) {
            @shared.cell(board.getCell(col, row), getRobot(col, row), goal, col, row)
        }
    </tr>
    }
</table>
