@(user: Option[User])(implicit flash: Flash, request: RequestHeader, lang: Lang)@* implicits are needed ! *@

@_layout("SECRET ZONE", user)(null) {
<div class="row" xmlns="http://www.w3.org/1999/html">
    <div class="span6">
        <h2>Administration</h2>
        <p>This part is like, super secret, and stuff ...</p>

        <p>From here, you can go to : </p>
        <ul>
            <li><a href="@controllers.routes.Boards.index">list of board templates + preview&rarr;</a></li>
            <li><a href="@controllers.routes.Rooms.gamesByRoom("default")">latest games in room 'default'&rarr;</a></li>
            <li><a href="@controllers.routes.Rooms.gamesByRoom("default2")">latest games in room 'default2'&rarr;</a></li>
        </ul>



    </div>

</div>

}

