@(user: Option[User], roomsAndParticipants: Seq[(String, Int)])(implicit flash: Flash, request: RequestHeader, lang: Lang)@* implicits are needed ! *@

@_layout(Messages("home.title"), user)(null) {
<div class="row" xmlns="http://www.w3.org/1999/html">
    <div class="span6" id="boardZone">
        <h2 class="homeTitle">@Messages("home.welcome")</h2>
        <p><strong>@Messages("app.name")</strong> @Messages("home.introduction")</p>
        <img id="homePicture" src="@routes.Assets.at("images/robot_lovedraw.jpg")" alt="image by lovedraw">
        <span id="homePictureLegend">
            <a href="http://www.flickr.com/photos/lovedraw/7109416341/">Original image</a> by <a  href="http://www.flickr.com/photos/lovedraw/">lovedraw</a> under <a href="http://creativecommons.org/licenses/by-nd/2.0/deed.fr">CC BY-ND 2.0</a>
        </span>


    </div>
    <div class="span6" id="roomList">
        <h3>@Messages("home.join")</h3>
        <div id="join">
            @Messages("home.rooms", roomsAndParticipants.size) :
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>@Messages("common.players")</th>
                        <th>@Messages("common.actions")</th>
                    </tr>
                </thead>
                <tbody>
                    @for(r:(String, Int) <- roomsAndParticipants) {
                    <tr>
                        <th>@r._1</th>
                        <td>@r._2</td>
                        <td><a class="btn btn-primary btn-small" href="@controllers.routes.Gaming.currentGame(r._1)">@Messages("common.actions.join")</a></td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

}

