@(passwordChangeForm:Form[securesocial.controllers.PasswordChange.ChangeInfo])(implicit flash: Flash, request: RequestHeader, lang: Lang)

@import securesocial.core.providers.UsernamePasswordProvider
@import securesocial.core.IdentityProvider
@import helper._
@implicitFieldConstructor = @{ FieldConstructor(securesocial.views.html.inputFieldConstructor.f) }

@_layout(Messages("passwordChange.title"), None)(null) {
    <form action="@securesocial.core.providers.utils.RoutesHelper.handlePasswordChange.absoluteURL(IdentityProvider.sslEnabled)"
    class="form-horizontal"
    autocomplete="off" method="post"
    >
        <div style="position: relative; top: auto; left: auto; margin: 0 auto; z-index: 1; max-width: 100%;" class="modal">
            <div class="modal-body">
                <legend>@Messages("passwordChange.legend")</legend>
                <fieldset>
                    @helper.inputPassword(
                        passwordChangeForm("currentPassword"),
                        '_label -> Messages("passwordChange.currentPassword"),
                        'class -> "input-xlarge"
                    )

                    @helper.inputPassword(
                        passwordChangeForm("newPassword.password1"),
                        '_label -> Messages("passwordChange.newPassword1"),
                        'class -> "input-xlarge"
                    )

                    @helper.inputPassword(
                        passwordChangeForm("newPassword.password2"),
                        '_label -> Messages("passwordChange.newPassword2"),
                        '_error -> passwordChangeForm.error("newPassword"),
                        'class -> "input-xlarge"
                    )
                </fieldset>
            </div>
            <div class="modal-footer">
                    <a class="btn" href="@securesocial.controllers.ProviderController.toUrl">@Messages("signup.cancel")</a>
                    <button type="submit" id="play" class="btn btn-success">@Messages("passwordChange.btn")</button>
            </div>
        </div>
    </form>
}
