@(resetForm:Form[(String, String)], token: String)(implicit flash: Flash, request: RequestHeader, lang: Lang)
@import helper._
@import securesocial.core.IdentityProvider
    @implicitFieldConstructor = @{ FieldConstructor(securesocial.views.html.inputFieldConstructor.f) }

@_layout(Messages("password.title"), None)(null) {
    @request.flash.get("error").map { msg =>
        <div class="alert alert-error">
            @Messages(msg)
        </div>
    }

    <form action="@securesocial.core.providers.utils.RoutesHelper.handleResetPassword(token).absoluteURL(IdentityProvider.sslEnabled)"
    class="form-horizontal"
    autocomplete= "off"
    method="POST">
        <div style="position: relative; top: auto; left: auto; margin: 0 auto; z-index: 1; max-width: 100%; height: auto" class="modal">
            <div class="modal-body">
                <legend>@Messages("password.reset.legend")</legend>
                <fieldset>
                    @helper.inputPassword(
                        resetForm("password.password1"),
                        '_label -> Messages("signup.password1.label"),
                        'class -> "input-xlarge"
                    )

                    @helper.inputPassword(
                        resetForm("password.password2"),
                        '_label -> Messages("signup.password2.label"),
                        '_error -> resetForm.error("password"),
                        'class -> "input-xlarge"
                    )
                </fieldset>
            </div>
            <div class="modal-footer">
                <a class="btn" href="@securesocial.core.providers.utils.RoutesHelper.login()">@Messages("signup.cancel")</a>
                <button type="submit" id="play" class="btn btn-primary">@Messages("password.reset.btn")</button>
            </div>
        </div>
    </form>
}
