@(signUpForm: Form[securesocial.controllers.Registration.RegistrationInfo], token: String)(implicit flash: Flash, request: RequestHeader, lang: Lang)
@import securesocial.core.providers.UsernamePasswordProvider
@import securesocial.core.IdentityProvider
@import helper._

    @implicitFieldConstructor = @{
        FieldConstructor(securesocial.views.html.inputFieldConstructor.f)
    }

@_layout(Messages("signup.title"), None)(null) {
    <form action="@securesocial.core.providers.utils.RoutesHelper.handleSignUp(token).absoluteURL(IdentityProvider.sslEnabled)"
    class="form-horizontal"
    autocomplete= "off"
    method="POST">
        <div style="position: relative; top: auto; left: auto; margin: 0 auto; z-index: 1; max-width: 100%; height: auto" class="modal">
            <div class="modal-body">
                <legend>@Messages("signup.legend")</legend>
                <fieldset>
                    @if(UsernamePasswordProvider.withUserNameSupport) {
                        @helper.inputText(
                            signUpForm("userName"),
                            '_label -> Messages("signup.username.label"),
                            'class -> "input-xlarge"
                        )
                    }

                    @helper.inputText(
                        signUpForm("firstName"),
                        '_label -> Messages("signup.firstname.label"),
                        'class -> "input-xlarge"
                    )

                    @helper.inputText(
                        signUpForm("lastName"),
                        '_label -> Messages("signup.lastname.label"),
                        'class -> "input-xlarge"
                    )

                    @helper.inputPassword(
                        signUpForm("password.password1"),
                        '_label -> Messages("signup.password1.label"),
                        'class -> "input-xlarge"
                    )

                    @helper.inputPassword(
                        signUpForm("password.password2"),
                        '_label -> Messages("signup.password2.label"),
                        '_error -> signUpForm.error("password"),
                        'class -> "input-xlarge"
                    )
                </fieldset>
            </div>
            <div class="modal-footer">
                <a class="btn" href="@securesocial.core.providers.utils.RoutesHelper.login()">@Messages("signup.cancel")</a>
                <button type="submit" id="play" class="btn btn-primary">@Messages("signup.createAccount")</button>
            </div>
        </div>
    </form>
}
