@(startForm:Form[String])(implicit flash: Flash, request: RequestHeader, lang: Lang)

@import helper._
@import securesocial.core.IdentityProvider

@implicitFieldConstructor = @{ FieldConstructor(securesocial.views.html.inputFieldConstructor.f) }

@_layout(Messages("password.title"), None)(null) {
    <form action="@securesocial.core.providers.utils.RoutesHelper.handleStartResetPassword().absoluteURL(IdentityProvider.sslEnabled)"
    class="form-horizontal"
    autocomplete="off" method="post"
    >
        <div style="position: relative; top: auto; left: auto; margin: 0 auto; z-index: 1; max-width: 100%;" class="modal">
            <div class="modal-body">
                <legend>@Messages("password.reset.legend")</legend>
                <fieldset>
                    @helper.inputText(
                        startForm("email"),
                        '_label -> Messages("signup.email.label"),
                        'class -> "input-xlarge"
                    )
                </fieldset>
            </div>
            <div class="modal-footer">
                    <a class="btn" href="@securesocial.core.providers.utils.RoutesHelper.login()">@Messages("signup.cancel")</a>
                    <button type="submit" id="play" class="btn btn-success">@Messages("password.reset.btn")</button>
            </div>
        </div>
    </form>
}
