
@(userName: String, successMsg:String)(implicit flash: Flash, request: RequestHeader, lang: Lang)@* implicits are needed ! *@

@_layout(Messages("activateAccount.accountActivated.title"), None)(null) {
    <div class="alert alert-success" data-dismiss="alert">
      <a title="close" class="close">&times;</a>
      @successMsg
    </div>
    <h2>@Messages("activateAccount.accountActivated.header")</h2>
    <p>@Messages("activateAccount.accountActivated.message", userName)</p>
    <a href="@controllers.routes.Home.index" class="btn btn-success">@Messages("activateAccount.accountActivated.joinGame")</a>

}