@(userName: String, urlForValidation: String)(implicit flash: Flash, request: RequestHeader, lang: Lang)@* implicits are needed ! *@

@_layout(Messages("register.accountCreated.title"), None)(null) {
        <h2>@Messages("register.accountCreated.header")</h2>
        <p>@Messages("register.accountCreated.message", userName)</p>
        <p>@Messages("register.accountCreated.emailVerification")</p>
        <hr/>
        <h2>Just for testing ... to be removed</h2>
        <p>Just imagine you received this url by email : <a href="@urlForValidation">@urlForValidation</a> ...</p>
}
