@(title: String, user: Option[User])(headerContent: Html = null)(content: Html)(implicit flash: Flash, request: RequestHeader, lang: Lang)@* implicits are needed ! *@

<!DOCTYPE html>

<html>
<head>
    <title>@title</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @if(play.Play.isProd()){
    @* = IN PROD =   load minimized resources from CDN with fallback ... *@
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.1.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        if (window.jQuery === undefined) {
            //assume if we did not load jQuery then CDN is down or we are offline so we serve the files
            document.write(unescape("%3Cscript src='@routes.Assets.at("javascripts/jquery-1.7.1.min.js")' type='text/javascript'%3E%3C/script%3E"));
        }
    </script>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap/bootstrap.min.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/keys.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/jquery-ui/ui-lightness/jquery-ui-1.8.20.css")">
    <!--
    /* the following gives an error in Firefox : Security error ... to be fixed */

    <link rel="stylesheet" media="screen" href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.20/themes/ui-lightness/jquery-ui.css">
    <script type="text/javascript">
        $.each(document.styleSheets, function(i,sheet){
            if(sheet.href=='http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.20/themes/ui-lightness/jquery-ui.css') {
                var rules = sheet.rules ? sheet.rules : sheet.cssRules;
                if (!rules || rules.length == 0) {
                    $('<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/jquery-ui/ui-lightness/jquery-ui-1.8.20.css")"/>').appendTo('head');
                }
            }
        })
    </script>-->
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/robotagram.min.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap/responsive.min.css")">@* must be after main ! *@
    <link rel="stylesheet" media="(max-width: 767px)" href="@routes.Assets.at("stylesheets/smallscreen.css")" type="text/css" />
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.ico")">
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.20/jquery-ui.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        if (window.jQuery.ui === undefined) {
            document.write(unescape("%3Cscript src='@routes.Assets.at("javascripts/jquery-ui-1.8.20.min.js")' type='text/javascript'%3E%3C/script%3E"));
        }
    </script>
    <script src="@routes.Assets.at("javascripts/jquery.i18n.properties-1.0.9.min.js")" type="text/javascript"></script>@*TODO : CDN for that one too*@
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        if (window.jQuery.throttle === undefined) {
            document.write(unescape("%3Cscript src='@routes.Assets.at("javascripts/jquery.ba-throttle-debounce-1.1.min.js")' type='text/javascript'%3E%3C/script%3E"));
        }
    </script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.0.3/bootstrap.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        if (window.jQuery.fn.button === undefined) {
            document.write(unescape("%3Cscript src='@routes.Assets.at("javascripts/bootstrap-2.0.3.min.js")' type='text/javascript'%3E%3C/script%3E"));
        }
    </script>
    <script type="text/javascript">
        // initialize translations - must be done before robotagram.js so translations can be retrieved
        jQuery.i18n.properties({
            name:'Messages.client', //base name of translation files
            path:'@routes.Assets.at("i18n/")',
            mode:'map', // make translation available through jQuery.i18n.prop('xxx') - other options : 'vars' or 'both'
            cache:true, // let the browser cache the translations it's ok as we have one file with all translations (false means a random querystring is added to the referenced file)
            language:'@lang.code' //take the same language the server figured out
        });

        // make an easy to use alias for the translations
        var $_ = jQuery.i18n.prop;
    </script>
    <script src="@routes.Application.javascriptRoutes" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/robotagram_game.min.js")" type = "text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/robotagram_ui.min.js")" type="text/javascript"></script>
    } else{
    @* = NOT IN PROD = load non-minified resources from local ...*@

    <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap/bootstrap.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/keys.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/jquery-ui/ui-lightness/jquery-ui-1.8.20.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/robotagram.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap/responsive.css")">@* must be after main ! *@
    <link rel="stylesheet" media="(max-width: 767px)" href="@routes.Assets.at("stylesheets/smallscreen.css")" type="text/css" />
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.ico")">
    <script src="@routes.Assets.at("javascripts/jquery-ui-1.8.20.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/jquery.i18n.properties-1.0.9.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/jquery.ba-throttle-debounce-1.1.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap-2.0.3.js")" type="text/javascript"></script>
    <script type="text/javascript">
        // initialize translations - must be done before robotagram.js so translations can be retrieved
        jQuery.i18n.properties({
        name:'Messages.client', //base name of translation files
        path:'@routes.Assets.at("i18n/")',
        mode:'map', // make translation available through jQuery.i18n.prop('xxx') - other options : 'vars' or 'both'
        cache:true, // let the browser cache the translations it's ok as we have one file with all translations (false means a random querystring is added to the referenced file)
        language:'@lang.code' //take the same language the server figured out
        });

        // make an easy to use alias for the translations
        var $_ = jQuery.i18n.prop;
    </script>
    <script src="@routes.Application.javascriptRoutes" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/robotagram_game.js")" type = "text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/robotagram_ui.js")" type="text/javascript"></script>
    }
</head>
<body>

<header>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="@controllers.routes.Home.index" title="Home">@Messages("app.name")</a>
                <div id="headerExtraContent" style="width:0px;">
                    @headerContent
                </div>
                @shared.userInfo(user)
            </div>
        </div>
    </div>
</header>
<section id="content">
    <div id="container" class="container">
        @*Output messages stored in the "flash" (with key "success", "error", "warning" etc ...*@
        @if(!flash.isEmpty) {
            @for((msgKey, msgValue) <- flash.data) {
                <div class="alert alert-@msgKey" data-dismiss="alert">
                    <a title="close" class="close">&times;</a>
                    @msgValue
                </div>
                }
            }
        @content
    </div>
</section>
<footer>
    <span>
         @Html(Messages("app.footer"))
    </span>
</footer>
<div id="loadingIndicator"></div>
<span id="copyright">&copy; Hermione @java.util.Calendar.getInstance().get(java.util.Calendar.YEAR)</span>
<script type="text/javascript">
    /*throttling to avoid recomputing during resize
    * see : http://benalman.com/projects/jquery-throttle-debounce-plugin/
    * for a good explanation of throttling
    *
    * Whenever we resize the window, recenter the header bars (but not more often than every 150 ms)
    * */
    $(window).resize($.throttle( 150, robotagram.ui.resizeTopBarContents ));
    robotagram.ui.resizeTopBarContents(); // trigger on first load to make it all fit together
</script>
</body>
</html>
