@(c: Cell, robot: Robot, objective: Goal, x: Int, y: Int)

@import models._

@renderWalls(cell: Cell) = {@if(cell.wallTop){wall-top} @if(cell.wallLeft){wall-left} @if(cell.wallBottom){wall-bottom} @if(cell.wallRight){wall-right}}

@renderColor(color: Color.Value) = {@color.toString}

@renderGoalColor() = {@renderColor(c.goal.color)}

@renderRobotColor() = {@renderColor(robot.color)}

@renderIdForRobotObjective() = @{if(robot.color == objective.color) {"id='robotForObjective'"} else {}}

@renderSymbol() = {@c.goal.symbol.toString}

<td class="cell @renderWalls(c)" data-row="@x" data-column="@y" >
<div class="cell" >
    @if(c.goal != null && robot == null) {<div @if(c.goal.color == objective.color && c.goal.symbol == objective.symbol){id="objective"} class="symbol @renderGoalColor() @renderSymbol()"/>}
    @if(robot != null) {<div @renderIdForRobotObjective() class="robot @renderRobotColor()"/>}
</div>
</td>
