@(roomId : String,  game: Game, player: Player, user: User)(implicit flash: Flash)

@renderColor(color: Color.Value) = {@color.toString}

@import models._

@* what to put in the top header bar *@
@headerContent = {
    <ul id="headerInfo" class="nav">
        <li class="divider-vertical"></li>
        <li>
            <a id="headerRobot"><div class="robot @renderColor(game.goal.color)"></div></a>
        </li>
        <li>
            <a id="headerArrow">&rarr;</a>
        </li>
        <li>
            <a id="headerGoal">@gameGoal(game.goal)</a>
        </li>
        <li>
            <a id="currentScore">0</a>
        </li>
        <li class="divider-vertical"></li>
        <li>
            <a id="timeLeft">@game.secondsLeft</a>
        </li>
        <li id="timeProgress">
            <a>@timer(game)</a>
        </li>

    </ul>
}

@main("Robotagram Rocks !!!", user)(headerContent){
<input type="hidden" id="gameDuration" name="gameDuration" value="@game.durationInSeconds">
<div class="row-fluid">
    <div class="span8" id="boardZone">
        @renderBoard(game)
    </div>
    <div class="span4" id="gameZone">
        <h3>Leaderboard</h3>
        <div id="scores">
        @scores(game)
        </div>
        <h3>How to play</h3>
        <div id="howToPlay">
            <table>
                <tr>
                    <td id="keyboard-mapping">
                        <table class="hidden-tablet">
                            <tr>
                                <td></td>
                                <td><kbd id="key-up">I</kbd></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>&uarr;</td>
                            </tr>
                            <tr>
                                <td><kbd id="key-left">J</kbd></td>
                                <td></td>
                                <td><kbd id="key-right">L</kbd></td>
                                <td>=</td>
                                <td>&larr;</td>
                                <td></td>
                                <td>&rarr;</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><kbd id="key-down">K</kbd></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>&darr;</td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <table id="arrow-keys">
                            <tr>
                                <td></td>
                                <td><kbd id="key-up">&uarr;</kbd></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><kbd id="key-left">&larr;</kbd></td>
                                <td></td>
                                <td><kbd id="key-right">&rarr;</kbd></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><kbd id="key-down">&darr;</kbd></td>
                                <td></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <p class="hidden-tablet">
                <kbd id="key-prev">S</kbd>/<kbd id="key-next">D</kbd> : select previous/next robot
            </p>
            <p class="hidden-tablet">
                <kbd id="key-undo">X</kbd>/<kbd id="key-redo">C</kbd> : undo/redo a move
            </p>
        </div>

    </div>

    <div id="winModal" class="modal hide fade">
        <div class="modal-header">
            <h3>Solution found !</h3>
        </div>
        <div class="modal-body" align="center">
            <img src="http://www.bigshinyrobot.com/tools/flex.png" alt="Wouhou!" height="50%" width="50%">
        </div>
        <div class="modal-footer">
            <a id="sendScore" class="btn btn-success" href="@routes.Application.getGame(roomId, game.uuid)" onClick="sendScore()" >Announce solution</a>
            <a id="retry" class="btn btn-success" href="@routes.Application.getGame(roomId, game.uuid)" >Retry</a>
        </div>
    </div>

    <div id="endOfGameModal" class="modal hide fade">
        <div class="modal-header">
            <h3>Time is over !</h3>
        </div>
        <div class="modal-body" align="center">
            <p>Time's up !</p>
            <p>Another game is starting now ...</p>

        </div>
        <div class="modal-footer">
            <a href="@routes.Home.index" class="btn">Give up</a>
            @* "current" is the url for the current game in this room *@
            <a id="joinNextGame" class="btn btn-success" href="@routes.Application.currentGame(roomId)" >Join the next game !</a>
        </div>
    </div>
</div>

<script type="text/javascript">
  $(document).ready(function () {
    initListeners();
  })
</script>

}
