@(user: User)(implicit flash: Flash, request: RequestHeader, lang: Lang)@* implicits are needed ! *@

@main(Messages("home.title"), user)(null) {
<div class="row" xmlns="http://www.w3.org/1999/html">
    <div class="span6" id="boardZone">
        <h2>@Messages("home.welcome")</h2>
        <p><strong>@Messages("app.name")</strong> @Messages("home.introduction")</p>
        <img src="@routes.Assets.at("images/robot_lovedraw.jpg")"
             alt="image by lovedraw" style="-moz-box-shadow: 4px 4px 12px #aaa;-webkit-box-shadow: 4px 4px 12px #aaa;box-shadow: 4px 4px 12px #555;margin:0px auto;">
        <a href="http://www.flickr.com/photos/lovedraw/7109416341/">Original image</a> by <a href="http://www.flickr.com/photos/lovedraw/">lovedraw</a> under <a href="http://creativecommons.org/licenses/by-nd/2.0/deed.fr">CC BY-ND 2.0</a>

    </div>
    <div class="span6" id="roomList">
        <h3>@Messages("home.join")</h3>
        <div id="join">
            @Messages("home.rooms", 1) :
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>@Messages("common.players")</th>
                        <th>@Messages("common.actions")</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>default</th>
                        <td>9999</td>
                        <td><a class="btn btn-primary btn-small" href="@controllers.routes.Application.currentGame("default")">@Messages("common.actions.join")</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

}

