@(loginForm: Form[String], redirectTo: Option[String])(implicit flash: Flash, request: RequestHeader, lang: Lang)@* implicits are needed ! *@

@import helpers.CustomHelpers._

@main(Messages("login.title"), AnonymousUser)(null) {

@helper.form(routes.Authentication.authenticate(redirectTo), 'class -> "form-horizontal"){
    @*make it look like a modal, without js involved ... *@
    <div style="position: relative; top: auto; left: auto; margin: 0 auto; z-index: 1; max-width: 100%;" class="modal">
        <div class="modal-body">
            @for(err <- loginForm.globalErrors){
            <div class="alert alert-error">
                <a class="close" data-dismiss="alert">&times;</a>
                @err.message
            </div>
            }
            <fieldset>
                <legend>@Messages("login.form.legend")</legend>
                <p>@Messages("login.form.intro")</p>
                @helper.inputText(loginForm("nickname"), '_label-> (Messages("login.form.nickname.label") + " : "), 'placeholder -> Messages("login.form.nickname.watermark"))
            </fieldset>
        </div>
        <div class="modal-footer">
            <a class="btn" href="@routes.Home.index">@Messages("login.leave")</a>
            <input type="submit" id="play" class="btn btn-success" value="@Messages("login.play")"/>
        </div>
    </div>
    <script type="text/javascript">
        //focus nickname field on page load
        $("input#nickname").focus();
    </script>
    }
}
