@(game: Game)

@import models._

<table id="boardGame">
    @for(x:Int <- 0 until game.board.cells.length) {
    <tr>
        @for(y:Int <- 0 until game.board.cells(x).length) {
            @if(game.robots(0).posX == x && game.robots(0).posY == y){
                @cell(game.board.cells(x)(y), game.robots(0), game.goal)
            } else {
                @if(game.robots(1).posX == x && game.robots(1).posY == y){
                    @cell(game.board.cells(x)(y), game.robots(1), game.goal)
                } else {
                    @if(game.robots(2).posX == x && game.robots(2).posY == y){
                        @cell(game.board.cells(x)(y), game.robots(2), game.goal)
                    } else {
                        @if(game.robots(3).posX == x && game.robots(3).posY == y){
                            @cell(game.board.cells(x)(y), game.robots(3), game.goal)
                        } else {
                            @cell(game.board.cells(x)(y), null, game.goal)
                        }
                    }
                }
            }
        }
    </tr>
    }
</table>
