@(room: DbRoom, game:Game, user: User)(implicit flash: Flash, request: RequestHeader, lang: Lang) @* implicits are needed ! *@

@renderColor(color: Color.Value) = {@color.toString}

@import models._

@* what to put in the top header bar *@
@headerContent = {
    <ul id="headerInfo" class="nav">
        <li>
            <a id="headerRobot"><div class="robot @renderColor(game.goal.color)"></div></a>
        </li>
        <li>
            <a id="headerArrow">&rarr;</a>
        </li>
        <li>
            <a id="headerGoal">@shared.gameGoal(game.goal)</a>
        </li>
        <li>
            <a id="currentScore">0</a>
        </li>
        <li class="divider-vertical"></li>
        <li>
            <a id="timeLeft">@game.secondsLeft</a>
        </li>
        <li id="timeProgress">
            <a>@shared.timer(game)</a>
        </li>

    </ul>
}

@_layout(Messages("game.title"), Some(user))(headerContent){
<input type="hidden" id="roomId" name="roomId" value="@room.name">
<input type="hidden" id="gameId" name="gameId" value="@game.uuid">
<input type="hidden" id="gameDuration" name="gameDuration" value="@game.durationInSeconds">
<input type="hidden" id="secondsLeftOnPageLoad" name ="secondsLeft" value="@game.secondsLeft">
<div class="row-fluid">
    <div class="span8" id="boardZone">
        @shared.renderBoard(game.board, Some(game.goal), game.robots)
    </div>
    <div class="span4" id="gameZone">
        <h3>@Messages("game.leaderboard")</h3>
        <div id="scores">
        @shared.scores(room)
        </div>
        <h3>@Messages("game.howtoplay")</h3>
        <div id="howToPlay">
            <table>
                <tr>
                    <td id="keyboard-mapping">
                        <table class="hidden-tablet">
                            <tr>
                                <td></td>
                                <td><kbd id="key-up">I</kbd></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><kbd id="key-left">J</kbd></td>
                                <td><kbd id="key-down">K</kbd></td>
                                <td><kbd id="key-right">L</kbd></td>
                            </tr>
                        </table>
                    </td>
                    <td id="keyboard-mapping"> : @Messages("game.move")</td>
                    <td>
                        <table id="arrow-keys">
                            <tr>
                                <td></td>
                                <td><kbd id="key-up">&uarr;</kbd></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><kbd id="key-left">&larr;</kbd></td>
                                <td><kbd id="key-down">&darr;</kbd></td>
                                <td><kbd id="key-right">&rarr;</kbd></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <p class="hidden-tablet">
                <kbd id="key-prev">S</kbd>/<kbd id="key-next">D</kbd> : @Messages("game.help.previousnext")
            </p>
            <p class="hidden-tablet">
                <kbd id="key-undo">X</kbd>/<kbd id="key-redo">C</kbd> : @Messages("game.help.undoredo")
            </p>
        </div>

    </div>

    <div id="winModal" class="modal hide fade">
        <div class="modal-header">
            <h3>@Messages("game.solutionFound.title")</h3>
        </div>
        <div class="modal-body" align="center">
            <img src="http://www.bigshinyrobot.com/tools/flex.png" alt="Wouhou!" height="50%" width="50%">
            <p>@Messages("game.solutionFound.details")</p>
        </div>
        <div class="modal-footer">

            <a id="improve" class="btn btn-small" onClick="closeWinModal();" >@Messages("game.solutionFound.improve")</a>
            <a id="retry" class="btn btn-small" onClick="resetBoard(); closeWinModal();">@Messages("game.solutionFound.retry")</a>
            <a id="sendScore" class="btn btn-large btn-success loading" onClick="showLoading();sendScore(closeWinModal, alert, hideLoading);" >@Messages("game.solutionFound.announce")</a>
        </div>
    </div>

    <div id="endOfGameModal" class="modal hide fade">
        <div class="modal-header">
            <h3>@Messages("game.endOfGame.title")</h3>
        </div>
        <div class="modal-body" align="center">
            <p>@Messages("game.endOfGame.details")</p>
        </div>
        <div class="modal-footer">
            <a href="@routes.Home.index" class="btn">@Messages("game.endOfGame.giveup")</a>
            @* "current" is the url for the current game in this room *@
            <a id="joinNextGame" class="btn btn-success" href="@routes.Gaming.currentGame(room.name)" >@Messages("game.endOfGame.joinNext")</a>
        </div>
    </div>
</div>

<script type="text/javascript">
  $(document).ready(function () {
    initListeners();
  })
</script>

}
